@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f0f1f4;
}

nav {
    margin-bottom: 10px;
}

#search {
    margin-bottom: 15px;
}

#genre {
    margin: 0 auto;
    margin-bottom: 15px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
