@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f0f1f4;
}

nav {
    margin-bottom: 10px;
}

#search {
    margin-bottom: 15px;
}

#genre {
    margin: 0 auto;
    margin-bottom: 15px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Media query for screens below 400px width */
  @media (max-width: 400px) {
    #genre {
      flex-direction: column; /* Change to column layout */
      align-items: stretch; /* Stretch items to full width */
    }
  }